/**, *:after, *:before {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/


.container .card1, .container .card {
    display: inline-block;
}

.clubs {
    color: #000000;
}

.diamonds {
    color: #ff0000;
}

.spades {
    color: #000000;
}

.hearts {
    color: #ff0000;
}

/*!* no value cards *!*/
/*.card1 {*/
    /*width: 75px;*/
    /*height: 100px;*/
    /*background-color: #ffffff;*/
    /*border-radius: 5px;*/
    /*font-size: 50px;*/
    /*padding-top: 15px;*/
/*}*/

/*.card1.heart::before {*/
    /*content: '\2665';*/
/*}*/

/*.card1.diamond::before {*/
    /*content: '\2666';*/
/*}*/

/*.card1.spade::before {*/
    /*content: '\2660';*/
/*}*/

/*.card1.club::before {*/
    /*content: '\2663';*/
/*}*/

/* regular cards */
.card {
    width: 75px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 7%;
    font-size: 20px;
    position: relative;
}

.card div {
    position: absolute;
}

.top {
    left: 7px;
    top: 2px;
}

.bottom {
    bottom: 2px;
    right: 7px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.suit {
    top: 17px;
}

.hearts .suit::before {
    content: '\2665';
}

.diamonds .suit::before {
    content: '\2666';
}

.spades .suit::before {
    content: '\2660';
}

.clubs .suit::before {
    content: '\2663';
}

.v1 .number::before {
    content: 'A';
}

.v2 .number::before {
    content: '2';
}

.v3 .number::before {
    content: '3';
}

.v4 .number::before {
    content: '4';
}

.v5 .number::before {
    content: '5';
}

.v6 .number::before {
    content: '6';
}

.v7 .number::before {
    content: '7';
}

.v8 .number::before {
    content: '8';
}

.v9 .number::before {
    content: '9';
}

.v10 .number::before {
    content: '10';
}

.v11 .number::before {
    content: 'J';
}

.v12 .number::before {
    content: 'Q';
}

.v13 .number::before {
    content: 'K';
}

.card.back {
    /* add style here! :D */
    background-color: #F9BA15;
    border: 5px solid #ffffff;
    /*background-image: url();*/
}
